.box {
  border: 50px solid red;
  width: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
  margin-bottom: 20px;
}

.box.green{
  border-color: green;
  /* visibility: hidden; */
  display: none;
}

.box.blue {
  border-color: blue;
  background-color: #3498db; /* Peter River */
  color: white; /* 텍스트 색상 */
}