body{
  display: contents;
}

.header{
  /* align-items: center; */
  padding: 6px;
  height: 60px;
}

.navbar {
   float: right;
  height: 48px;
}

.navbar a{
  text-decoration: none;
  color: black;
  margin-right: 15px;
}

.navbar a:hover{
  text-decoration: underline;
}

.navbar i{
  height: 40px;
  width: 40px;
}

.navbar i:hover{
  background-color: #dfe1e5;
}

.main{
  margin-top: 200px;
  text-align: center;
}

.input-area{
  margin-top: 20px;
  /* padding: 0 8px 0 0; */
  /* border: 1px solid red; */
}

.input-box{
  width: 584px;
  height: 47px;
  border-radius: 24px;
  border: 1px solid #dfe1e5;
  box-shadow: 0px 2px 8px 0px rgba(60, 64, 67, 0.25);
  padding-left: 40px;
  padding-right: 40px;
}

.glasses{
  margin-top: 3px;
  color: #9aa0a6;
  position: relative;
  left: 40px;
}

.keyboard{
  margin-top: 3px;
  color: #9aa0a6;
  position: relative;
  right: 90px;
}

.mic{
  margin-top: 3px;
  position: relative;
  right: 85px;
}

.camera{
  margin-top: 3px;
  position: relative;
  right: 80px;
  bottom: 1px;
}

.button{
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: Arial, Apple SD Gothic Neo, sans-serif;
  font-size: 14px;
  margin: 30px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0px;
  background: #f2f2f2;
  width: 100%;
}

.first-line {
  padding: 15px 30px;
  border-bottom: 1px solid #dadce0;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.54);
}

.second-line {
  padding: 15px 30px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.54);
}

.second-line-second {
  float: right;
}

.second-line a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.54);
  padding-right: 15px;
}

.second-line a:hover {
  text-decoration: underline;
}