 footer{
  background: #19110b;
  font-size: 14px;
}

img, svg{
  vertical-align: middle;
}

.first-line{
  color: white;
  border-bottom: 1px solid #392d23;
}

.second-line a {
  color: white;
  text-decoration: none;
}

.row{
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y)* -1);
  margin-right: calc(var(--bs-gutter-x)* -.5);
  margin-left: calc(var(--bs-gutter-x)* -.5)
}

.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x)* .5);
  padding-left: calc(var(--bs-gutter-x)* .5);
  margin-top: var(--bs-gutter-y);
}

.flag{
  display: none;
  color: white;
}

.col{
  flex: 1 0 0%;
  padding-bottom: 1rem;
}